body{
  background-color: black;
  color: white;
  padding: 0%;
  margin: 0%;
  max-width: 100%;
  }

/* pre load */
.preload {
  width: 100%;
  overflow: hidden;
  user-select: none;
  cursor: default;
  z-index:999; /* z-index para jogar para frente e sobrepor tudo */
  position: relative;
 }
 
 .preload::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index:999; /* z-index para jogar para frente e sobrepor tudo */
  content: "";
 }
 
 @media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .preload,.preload::after{
  width: 100%;
  height: 5000px;
  position: absolute;
  }
}

 #gif{
  text-align: center;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  margin-top: 200px;
 }

 @media only screen and (max-width: 700px) {
  /* For mobile phones: */
  #gif{
  width: auto;
  margin-left: 70px;
  }
}
  
  /* menu */
  .menuvertical {
      height: 100%; /* 100% = página inteira */
      position: fixed; /* pra não sair do lugar */
      width: 0; 
      z-index: 1; /* p ficar no topo */
      top: 0;
      left: 0;
      background-color: #f1efee; /* cor do menu*/
      overflow-x: hidden; /*  pra desabilitar o scroll horizontal */
      transition: 0.5s; 
    }
    
.logo{
  width: 150px;
margin-left: 25px;
margin-top: 10px;
}

.hr-menuvertical{
  margin-top: 3px;
}

    /* Os links do menu vertical */
    .menuvertical a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 180%;
      color: black;
      display: block;
      transition: 0.3s;
    }
    
    .menuvertical a:hover {
      color: #aaa5a5;
    }
    
    /* posição e estilo do  botão de fechar */
    .menuvertical .fecharmenu {
      font-size: 36px;
      float: right;
    }
    
    /*o botão usado para abrir menu vertical */
    .abrirmenu {
      font-size: 15px;
      cursor: pointer;
      background-color: rgb(223, 219, 219);
      color: black;
      width: 50px;
      height: 45px;
      border: none;
      border-radius:100px;
      position: fixed;
      margin-left: 30px;
      margin-top: 10px;
    }    
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      .abrirmenu{
        margin-left: 10px;
        margin-top: 1px;
      }
    }
    
    .abrirmenu:hover {
      background-color: #444;
    }
  
    #icone{
      transition: margin-left .5s; /* pra dar aquele efeito de transição */
    }
  
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [id*="mySidebar"] {
        width: 100%;
      }
    }
  
  /* posição do container <div> */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown (Oculto por padrão) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a3a3a3;
    z-index: 1;
    width: 500px;
  }
  
  /* links ocultos no dropdown */
  .dropdown-content a {
    color: black;
    padding: 1% 5%;
    text-decoration: none;
    display: block;
  }
  
  /* Alterar a cor dos links suspensos ao passar o mouse */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Mostrar o menu suspenso ao passar o mouse */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Altera a cor de fundo do botão suspenso quando o conteúdo suspenso for exibido */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .slogan{
    margin-top: 10px;
    padding: 10px;
  }
  
  @media screen and (max-width: 490px) {
    .slogan {
      padding: 10px;
    }
  }

  @media screen and (max-width: 700px) {
    .img-slogan {
      display: none;
    }
  }

  @media screen and (min-width: 700px) {
    .p-slogan {
      display: none;
    }
  }

  @media screen and (max-width: 700px) {
    .p-slogan {
      text-align: center;
      font-size: x-large;
      width: 100%;
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 700px) {
    .hr-slogan {
      margin-top: 1px;
    }
  }
    
    #corpo{
      transition: margin-left .5s; /* pra dar aquele efeito de transição */
  
    }

  /* fotos inicio */
.container-fotos{
  display: flex;
  width: 90%;
  padding: 10px;
  height: auto;
  border: 3px solid darkslategray;
  gap: 5px;
  list-style: none;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 60px;
}
@media screen and (max-width: 700px) {
  .container-fotos {
    margin-bottom: 20px;
    border: none;
    margin-top: 0px;
    padding: 0%;
    width: auto;

  }
}


/* botão coleção */
.button {
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color:white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  border: solid 2px white;
  margin-top: 30px;
  margin-left: 175px;
}

@media screen and (max-width: 700px) {
  .button {
    font-size: small;
    width: 80%;
    margin-top: 40px;
    margin-left:40px ;
  }
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  button {
    width: 100%;
  }
}

/* fade nas marcas coleções */
.container-fade {
  position: relative;
  width: 10%;
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
  padding: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 700px) {
  .container-fade {
    width: 30%;
    margin-left: 10px;
    margin-top: 0px;
    padding: 30px;
    margin-bottom: 20px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: solid 2px white;
}
@media screen and (max-width: 700px) {
  .image {
    border: solid 2px white;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0, 0, 0,01) ;
}

.container-fade:hover .overlay {
  opacity: 1;
}

.texto {
  color: darkslategray;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.b-coleção{
border:  solid 1px darkslategray;
}

.a-coleção{
color: black;
}

.sec-coleção{
margin-left: 120px;
}
@media screen and (max-width: 700px) {
  .sec-coleção {
    width: 100%;
    margin-left: 0%;
  }
}

.desc{
  width: 100%;
}

.novos-mod{
  width: auto;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .novos-mod {
    text-align: center;
  }
}


/* container bape */
.container-bape {
  position: relative;
  width: 50%;
}

.image-b {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-b {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container-bape:hover .overlay-b {
  bottom: 0;
  height: 100%;
}

.text-b {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.but-bape{
  padding: 10px;
}